.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  margin-top: 2em;
}

.App-link {
  color: #61dafb;
}

.todo-checkbox {
  margin-right: 1em;
}

.todo-text {
  margin-right: 1em;
}

.todo-button {
  opacity: 0;
}

.todo-button:hover {
  border-radius: 8%;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.todo-item:hover .todo-button {
  opacity: 1;
}

.ui.segment {
  box-shadow: none !important;
  border-radius: none !important;
  border: none !important;
}

.tab-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  margin: 2em;
}

.menu {
  justify-content: column;
}

.ui.secondary.pointing.menu {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.message {
  width: 100vw;
  height: 3vh;
  background-color: rgb(117, 236, 181);
}
